@{
    ViewData["Title"] = "Admin Page";
}

<button type="button" onclick="window.location.href='/customer/all'">Customers</button>
<button type="button" onclick="window.location.href='/driver/all'">Drivers</button>
<button type="button" onclick="window.location.href='/edge/all'">Edges</button>
<button type="button" onclick="window.location.href='/order/all'">Orders</button>
<button type="button" onclick="window.location.href='/schedule/all'">ScheduleElements</button>
<button type="button" onclick="window.location.href='/spaceobject/all'">SpaceObjects</button>
<button type="button" onclick="window.location.href='/spaceport/all'">SpacePorts</button>
<button type="button" onclick="window.location.href='/spaceship/all'">Spaceships</button>
<button type="button" onclick="window.location.href='/user/all'">Users</button>
