@model TemporaryNewNoSQLdatabaseNamedAfterSweetLadyLuck.CommonModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach(var kv in Model)
{
    <div>@(kv.Key + " = " + kv.Value)</div>
}
@{
}
